@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');

body {

	font-family: 'Noto Sans JP', sans-serif;

}



.banner {

	background-image: url("https://images.unsplash.com/photo-1487581424120-18f3611a63e6?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=eb87a25dcd5110b903616b765084274a&auto=format&fit=crop&w=2052&q=80");
	 /* Set a specific height */
    min-height: 450px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.banner-show-text {

	padding-top: 25%;
	padding-bottom: 25%;
	font-weight: bold;
	font-size: 50px;
	border: none;


}

.username-show{
	font-size:20px;
}

.edit-show-button {

background: #F7971E;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #FFD200, #F7971E);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #FFD200, #F7971E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
font-size: 20px;
color:white;
border-radius: 05px;
border: none;
width: 100px;
}

.edit-show-button:hover {

background: #F7971E;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFD200, #F7971E);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFD200, #F7971E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

font-size: 20px;
color:white;
border-radius: 05px;
border: none;
width: 115px;

}

h2 {

	// padding-left: 2%;
	// padding-top: 5%;
	// margin-left: 30px;
	width: 100%;
	color:white;
	font-size: 80px;
	font-weight: bold;
	text-align: center;
	padding: 10px;


}

.show-list {
	display: inline-block;
	padding: 10px;
	color: white;
	font-weight: bold;
	border-radius: 10px;
	background: #fd746c;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ff9068, #fd746c);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ff9068, #fd746c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}



.showplan-container {

  width:100%;
  height:100%;

  // padding-:10px;

}

.showplan-container > div{
  float:left;
  margin-top:10px;

}

.plan-details {



	width:100%;
  height:220px;

  margin-bottom: 40px;

}

.map-container {
	margin-top: 10px;
	float: left;
	width:100%;
  height:150px;


}

.comments-block{

	height: 100px;
	width: 100%;

	margin-top: 10px;


}

.comment-fill-box {

	background: #F7971E;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #FFD200, #F7971E);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #FFD200, #F7971E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	border: none;
	border-radius: 10px;
	color:white;
	font-size: 20px;
}


.comment-table-headings {
	color: white;
	border: none;
	background: #F7971E;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #FFD200, #F7971E);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #FFD200, #F7971E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	border-radius: 10px;
	text-align: center;

}

.username-heading{

	border-bottom-left-radius: 05px;
	border-top-left-radius: 05px;


}

.delete-heading{

	border-bottom-right-radius: 05px;
	border-top-right-radius: 05px;


}

.table-responsive-sm {
	border: none;
	font-size: 13px;
}

.table.table-sm {
	border: none;
}

.comment-entry{

color:white;
background: #fd746c;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ff9068, #fd746c);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ff9068, #fd746c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

tbody{
	background-color: white;
	border: none;
}










