@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');

body {

	font-family: 'Noto Sans JP', sans-serif;
}

.banner {

	background-image: url("https://images.unsplash.com/photo-1484544808355-8ec84e534d75?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=fc1407c2a550b0ebf3def8b81fa7b4a2&auto=format&fit=crop&w=2266&q=80");
	 /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1{

	text-align: center;
	color: white;
	font-size: 30px;
	font-weight: bold;
}

.titlebg {

	height:30%;
	width:100%;
	background-color: #fd5c63;
	text-align: center;
	position: center;

}


 // /* The image used */
 //    background-image: url("img_parallax.jpg");

