@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');

body {

	font-family: 'Noto Sans JP', sans-serif;
}

.top {

	background-image: url("https://images.unsplash.com/photo-1521579880562-101f47676ee1?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1b149040db05a369f39ef7d6f0170941&auto=format&fit=crop&w=3384&q=80");
	 /* Set a specific height */
    min-height: 600px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 50px;
    font-weight: bolder;
    color:white;
		// padding-left: 5%;
		// padding-top: 25%;
		text-align: center;

}

.banner-text {

	padding-top: 30%;
	padding-bottom: 25%;
	font-weight: bold;
	font-size: 50px;


}

h1{

	text-align: center;
	color: white;
	font-size: 30px;
	font-weight: bold;

}

.titlebg {

	height:30%;
	width:100%;
	background: #fd746c;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #ff9068, #fd746c);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #ff9068, #fd746c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	text-align: center;
	position: center;
	padding: 15px;
	border-radius: 10px;


}


.show-username {
	color: red;
	text-align: center;
}

.create-plan-button {

	text-align: center;
	margin-top: 20px;


// background: #00c6ff;  /* fallback for old browsers */
// background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);   Chrome 10-25, Safari 5.1-6
// background: linear-gradient(to right, #0072ff, #00c6ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

background: #FF8008;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFC837, #FF8008);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFC837, #FF8008); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


border-radius: 10px;
padding: 10px;

}

.create-plan-button:hover {

	text-align: center;
	margin-top: 20px;

// 	background: #FC466B;  /* fallback for old browsers */
// background: -webkit-linear-gradient(to right, #3F5EFB, #FC466B);   Chrome 10-25, Safari 5.1-6
// background: linear-gradient(to right, #3F5EFB, #FC466B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	background: #ee0979;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ff6a00, #ee0979);
background: linear-gradient(to right, #ff6a00, #ee0979); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


border-radius: 10px;
padding: 10px;

}


#index-card-footer {
	background-color: none;
	border: none;
}

// #index-image {

// 	border-radius: 20%;
// }

.card {
	border: none;
}

.card-body{
	border: none;
	height: 100px;
	margin-bottom: 03px;
	border-bottom-right-radius: 05px;
	border-bottom-left-radius: 05px;

}

#index-card-footer {

// SUNSKIST ORANGE
// background: #F7971E;  /* fallback for old browsers */
// background: -webkit-linear-gradient(to left, #FFD200, #F7971E);   Chrome 10-25, Safari 5.1-6
// background: linear-gradient(to left, #FFD200, #F7971E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

background: #4776E6;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #8E54E9, #4776E6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #8E54E9, #4776E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



text-align: center;
border-radius: 10px;


}

#index-card-footer:hover {

background: #fd746c;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #ff9068, #fd746c);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #ff9068, #fd746c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



// font-size: 20px;
text-align: center;
border-radius: 10px;
// height: 5%;

}

.card-title {

	color: teal;
	display: inline-block;

}



.index-place-details {
	display: inline;
	width: 100%;
}

#place-icon{
	height: 20px;
	width: 20px;
}




