@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');

.user-show-username {
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	color: teal;

}


.for-follow-button {

	margin-bottom: 05px;
	text-align: center;
	border-radius: 10px;
	margin-top: 10px;
	border: none;
	color: white;
	font-weight: bold;
	width: 125px;

	background: #00c6ff;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #0072ff, #00c6ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}



.for-following-button {
	margin-bottom: 05px;
	text-align: center;
	border-radius: 10px;
	margin-top: 10px;
	border: none;
	color: white;
	font-weight: bold;
	width: 125px;

background: #3494E6;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #EC6EAD, #3494E6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #EC6EAD, #3494E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



}



.follow-button{


  margin: 0 auto;
  width: 100px;

}


#user-show-cards {

	margin-top: 20px;
}