@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');


.show-user-banner {

	background-image: url("https://images.unsplash.com/photo-1516737976105-136883458db7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=bbb464f390fbbf695762c0ef0f3c0d4b&auto=format&fit=crop&w=2764&q=80");
	 /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.show-user-banner-text {

	// padding-top: 45vw;
	// // padding-bottom: 2vw;

}


.user-show-username {
	text-align: center;
	font-weight: bold;
	font-size: 35px;
	color: white;
	padding-top: 30vw;


}


.for-follow-button {

	margin-bottom: 05px;
	text-align: center;
	border-radius: 10px;
	margin-top: 10px;
	border: none;
	color: white;
	font-weight: bold;
	width: 125px;

	background: #00c6ff;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #0072ff, #00c6ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}



.for-following-button {
	margin-bottom: 05px;
	text-align: center;
	border-radius: 10px;
	margin-top: 10px;
	border: none;
	color: white;
	font-weight: bold;
	width: 125px;

background: #3494E6;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #EC6EAD, #3494E6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #EC6EAD, #3494E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



}



.follow-button{


  margin: 0 auto;
  width: 100px;

}


#user-show-cards {

	margin-top: 20px;
}