@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');


.show-user-banner {

	background-image: url("https://images.unsplash.com/photo-1516737976105-136883458db7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=bbb464f390fbbf695762c0ef0f3c0d4b&auto=format&fit=crop&w=2764&q=80");
	 /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.show-user-banner-text {

	padding-top: 25%;
	padding-bottom: 25%;
	font-weight: bold;

	border: none;

}

#show-user-banner-phrase {
	font-size: 50px;
	font-weight: bold;
	text-align: center;
	padding: 10px;
	width: 100%;
	color:white;
}


#show-user-banner-phrase-name {
	background: #F7971E;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #FFD200, #F7971E);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #FFD200, #F7971E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
font-size: 30px;
color:white;
border-radius: 05px;
border: none;
width: 110px;
font-weight: bold;
padding: 05px;

}

// .user-show-username {
// 	text-align: center;
// 	font-weight: bold;
// 	font-size: 30px;
// 	color: white;
// 	padding-top: 30vw;
// 	margin: 0 auto;
//   width: 400px;


// }


.for-follow-button {

	font-size: 20px;
color:white;
border-radius: 05px;
border: none;
width: 110px;

	background: #00c6ff;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #0072ff, #00c6ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


.for-favorites-count {
	font-size: 20px;
color:white;
border-radius: 05px;
border: none;
width: 110px;
text-align: center;

background: #2193b0;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

.for-followers-count {
	font-size: 18px;
	font-weight: bold;
color:white;
border-radius: 05px;
border: none;
width: 110px;
text-align: center;

background: #cc2b5e;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #753a88, #cc2b5e);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #753a88, #cc2b5e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



}

#like-icon {

	padding-bottom: 03px;
}

 .likes-circle {
      width: 100px;
      height: 100px;
      background: red;
      border-radius: 50%
    }


.for-following-button {
	font-size: 20px;
color:white;
border-radius: 05px;
border: none;
width: 110px;

background: #3494E6;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #EC6EAD, #3494E6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #EC6EAD, #3494E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



}



.follow-button{


  margin: 0 auto;
  width: 110px;

}


#user-show-cards {

	margin-top: 20px;
}