

<!--
	<div class="banner">

		<img src="https://images.unsplash.com/photo-1484544808355-8ec84e534d75?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=fc1407c2a550b0ebf3def8b81fa7b4a2&auto=format&fit=crop&w=2266&q=80"/>

	</div>
 -->


<div class="banner"></div>
<div class="container">
</br>
</br>
</br>


<div class="titlebg">
	<h1>Welcome to Explorador</h1>
</div>


</br>
</br>

  <div class="row">
  	<% @plans.each do |plan| %>
    <div class="col-sm-4">

			 <div class="card-group">
				  <div class="card">
				    <img class="card-img-top" src="https://www.telegraph.co.uk/content/dam/Travel/hotels/europe/france/paris/eiffel-tower-paris-p.jpg?imwidth=480" alt="Card image cap">
				    <div class="card-body">
				      <h5 class="card-title"><%= plan.address %></h5>
				      <p class="card-text">
				      	<p><%= plan.description %></p>

				      	</p>
				    </div>
				    <div class="card-footer">
				      <small class="text-muted"><%= link_to 'Details', user_plan_path(user_id: current_user.id, id: plan.id) %></small>
				    </div>
				  </div>
				</div> </br>

		</div>
		<% end %>
	</div>
</div>

